:root {
  --primary: #232946;
  --black: black;
  --highlight: #72a7b0;
  --accent: #ffa178;
  --ash-grey: #a5a5a8;
  --primary-m: #717586;
  --white: white;
  --warm-white: #f3f3f3;
  --secondary: #a89d9d;
  --primary-s: #abadb6;
  --secondary-s: #d3d0d0;
  --accent-s: #edd1c5;
  --secondary-m: #c1baba;
}

body {
  color: var(--primary);
  font-family: Neuemontreal, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.primary-display {
  font-size: 57px;
  line-height: 110%;
}

.primary-headline {
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}

.primary-title {
  letter-spacing: 1.1px;
  font-size: 22px;
  font-weight: 300;
  line-height: 130%;
}

.primary-body {
  color: var(--black);
  letter-spacing: .48px;
  font-weight: 400;
}

.primary-label {
  color: var(--black);
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.body {
  color: #000;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.secondary---display {
  font-size: 57px;
  font-weight: 400;
  line-height: 110%;
}

.secondary---headline {
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}

.secondary-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 130%;
}

.secondary-body {
  color: var(--black);
  letter-spacing: .48px;
}

.secondary-label {
  color: var(--black);
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.navbar-logo-center {
  z-index: 10;
  position: sticky;
  top: 0;
}

.navbar-logo-center-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 97vw;
  padding-left: 0;
  padding-right: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  width: 50px;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: var(--black);
  letter-spacing: .25px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
  display: inline-block;
}

.nav-link:hover {
  color: var(--highlight);
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.cta {
  color: var(--accent);
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible, .nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible, .nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.nav-dev-title.primary-label {
  color: var(--ash-grey);
}

.nav-dev-title.primary-label.bottom {
  margin-left: 10px;
}

.hero-section {
  z-index: 0;
  justify-content: space-between;
  align-items: center;
  height: 960px;
  margin-top: -170px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.hero-title-text {
  white-space: nowrap;
  font-family: Neuemontreal, Arial, sans-serif;
  font-size: 6.5vw;
  font-weight: 400;
  line-height: 8vw;
}

.hero-title-text.spacing {
  color: var(--highlight);
  text-align: right;
  margin-left: 20vw;
  position: relative;
  top: 0;
}

.hero-ampersand {
  border: 3px solid var(--primary);
  color: var(--primary);
  background-image: none;
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  font-size: 4vw;
  line-height: 100%;
  display: flex;
}

.hero-title-container-top {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.hero-title-container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.work-status-icon {
  background-color: var(--highlight);
  border-radius: 300px;
  min-width: 10px;
  min-height: 10px;
  margin-top: 5px;
}

.work-status-text.primary-body {
  color: var(--highlight);
}

.location-status-icon {
  background-color: var(--ash-grey);
  border-radius: 300px;
  min-width: 10px;
  min-height: 10px;
  margin-top: 5px;
}

.location-status-text {
  color: var(--ash-grey);
}

.hero-subtitle-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-status-container {
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  display: flex;
  position: absolute;
  right: 50px;
}

.scroll-animation {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%);
}

.about-me-section {
  z-index: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 60px;
  display: flex;
}

.about-me-section-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  place-items: stretch stretch;
  width: 100%;
  max-width: 1600px;
  display: grid;
}

.about-me-title-text-container {
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.title-label.primary-title {
  text-transform: uppercase;
  white-space: nowrap;
}

.title-text {
  text-transform: uppercase;
}

.title-text.primary-display.center {
  text-align: center;
  white-space: normal;
}

.title-text.secondary---display {
  color: var(--accent);
  font-style: italic;
}

.title-text.secondary---display.center {
  text-align: center;
}

.about-me-side-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.title-text-container.service {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-text-container.about-me {
  min-width: 520px;
}

.title-text-row-1 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.about-me-description-container {
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.description-text.primary-headline {
  text-align: right;
  font-weight: 400;
}

.description-text.secondary---headline {
  color: var(--accent);
  text-align: right;
  min-width: 380px;
  font-style: italic;
}

.primary-button {
  background-color: var(--accent);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
}

.secondary-button {
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: #3898ec00;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
}

.about-me-center-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.about-me-image {
  z-index: -1;
  object-fit: cover;
  border-radius: 50px;
  width: 360px;
  min-width: 300px;
  height: 450px;
  position: static;
  top: 50%;
  left: 50%;
  transform: none;
}

.about-me-image.left {
  opacity: .5;
  display: none;
  left: 35%;
  transform: rotate(-5deg)translate(-50%, -50%);
}

.about-me-image.right {
  opacity: .5;
  transform-style: preserve-3d;
  display: none;
  left: auto;
  right: 35%;
  transform: rotateX(0)rotateY(180deg)rotateZ(-9deg)translate(-50%, -50%);
}

.about-me-image.center {
  z-index: 1;
  width: 360px;
  min-width: 300px;
  height: 430px;
  position: static;
  transform: none;
}

.about-me-title-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.line {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  height: 1px;
  margin-bottom: 40px;
}

.line.middle {
  margin-bottom: 0;
}

.line.right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.services-section {
  z-index: 2;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.services-section-container {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: stretch;
  place-items: start;
  width: 100%;
  max-width: 1600px;
  display: grid;
}

.services-title-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: sticky;
  top: 35vh;
}

.services-card-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch center;
  margin-top: 500px;
  display: grid;
}

.service-card {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}

.services-card-title-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.services-card-title.primary-title {
  margin-bottom: 10px;
}

.services-card-description.primary-body {
  color: var(--primary-m);
}

.scribles {
  object-fit: cover;
  width: auto;
  position: absolute;
}

.scribles.hero-scribe {
  top: 100%;
  right: -5%;
}

.scribles.about-me-scribe {
  top: 70%;
  right: 0;
}

.scribles.about-me-scribe-2 {
  width: 50px;
  position: absolute;
  bottom: 100%;
  left: 100%;
}

.scribles.services-scribe-1 {
  bottom: 100%;
  left: 100%;
}

.scribles.services-scribe-2 {
  bottom: -100%;
  left: 0;
}

.scribles.portfolio-scribe {
  bottom: 100%;
  left: 100%;
}

.scrible-target-parent {
  display: flex;
  position: relative;
}

.portfolio-section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.portfolio-section-container {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 112px;
  padding-bottom: 0;
  display: flex;
}

.portfolio-title-text-container {
  z-index: -1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: sticky;
  top: 40vh;
}

.title-label-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.portfolio-info-card {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--warm-white);
  color: var(--primary);
  border: 1px solid #0000;
  border-radius: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 50px 60px;
  text-decoration: none;
  transition: all .35s cubic-bezier(.86, 0, .07, 1);
  display: flex;
  box-shadow: 1px 10px 20px #0003;
}

.portfolio-info-card:hover {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.portfolio-info-card.disabled {
  cursor: default;
}

.portfolio-card-description.primary-body {
  color: var(--primary-m);
}

.portfolio-label.primary-label {
  border: 1px solid var(--secondary);
  pointer-events: auto;
  color: var(--secondary);
  white-space: nowrap;
  border-radius: 40px;
  padding: 6px 16px;
  font-weight: 400;
}

.portfolio-label-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: wrap;
  place-content: flex-end flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  display: flex;
}

.portfolio-cards-container {
  grid-column-gap: 50vh;
  grid-row-gap: 50vh;
  flex-flow: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 25vh;
  display: flex;
}

.portfolio-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 80%;
  position: sticky;
  top: 10vh;
}

.portfolio-card.size-s {
  max-width: 600px;
}

.project-mockup {
  z-index: 0;
  object-fit: cover;
  object-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.portfolio-showcase-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: row;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch stretch;
  width: 100%;
  height: 100%;
  display: grid;
}

.footer-section {
  margin-top: -100vh;
  margin-left: auto;
  margin-right: auto;
}

.footer-section-container {
  background-image: linear-gradient(45deg, var(--highlight), var(--accent));
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: flex;
  position: relative;
}

.footer-middle-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  display: flex;
}

.footer-logo {
  width: 50px;
}

.footer-mega-text.secondary---display {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
  max-width: 50%;
}

.email-me-label, .email-me-address.primary-title {
  color: var(--white);
  text-align: center;
}

.link-button {
  border: 1px solid var(--white);
  background-color: #3898ec00;
  border-radius: 50px;
}

.footer-button-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

._4-corner-text-container {
  z-index: 0;
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  min-height: 75vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  position: absolute;
}

.footer-side-text-big-left, .footer-side-text-left-small, .footer-side-text-big-right {
  color: var(--white);
}

.footer-side-text-big-right.primary-title {
  text-align: right;
}

.footer-side-text-right-small {
  color: var(--white);
  text-align: right;
}

.footer-corner-text-container {
  justify-content: space-between;
  display: flex;
}

.services-card-subtitle.primary-label {
  color: var(--primary-s);
  display: none;
}

.services-icon {
  width: 40px;
}

.scroll-spacer {
  height: 85vh;
}

.portfolio-showcase {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.portfolio-arrow {
  border: 2px none var(--white);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.nav-underline {
  background-color: var(--highlight);
  width: 0%;
  height: 2px;
  margin-left: 10%;
}

.nav-underline.middle {
  margin-bottom: 0;
}

.hz-track {
  width: 100%;
  height: 3500px;
}

.hz-camera {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.hz-camera.edit {
  overflow: visible;
}

.loading-screen {
  z-index: 100;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--white);
  background-image: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  overflow: clip;
}

.loading-screen.loading-debug-show {
  display: flex;
}

.loading-screen-logo-container {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  display: flex;
}

.loading-logo-1 {
  background-color: var(--black);
  border-bottom-left-radius: 20px;
  width: 20px;
  height: 40px;
}

.loading-logo-2 {
  background-color: var(--black);
  border-top-left-radius: 20px;
  width: 20px;
  height: 150px;
}

.loading-logo-3 {
  background-color: var(--black);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  width: 20px;
  height: 130px;
}

.loading-logo-4 {
  background-color: var(--black);
  border-bottom-right-radius: 20px;
  width: 20px;
  height: 30px;
}

.loading-screen-percentage.secondary---display {
  color: var(--black);
  font-size: 100px;
  font-weight: 300;
  position: absolute;
  inset: 0% 3% auto auto;
}

.loading-logo-stroke {
  background-color: var(--black);
  width: 20px;
}

.page-transistion {
  z-index: 100;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
}

.project-header-section {
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.project-header-container {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.project-header-main-text.primary-display {
  text-shadow: none;
  font-size: 100px;
  position: relative;
}

.project-header-image {
  z-index: 0;
  object-fit: cover;
  border-radius: 60px;
  max-width: 60%;
}

.project-info-section {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.project-info-container {
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: flex-start stretch;
  max-width: 1100px;
  display: flex;
}

.project-info-subtitle.primary-title {
  color: var(--primary-m);
}

.portfolio-info-title-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  min-width: 330px;
  margin-bottom: 10px;
  display: flex;
}

.portfolio-info-title-text.primary-title {
  text-transform: uppercase;
}

.portfolio-info-title-text.primary-display {
  text-wrap: noWrap;
}

.left-project-info {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-flow: column;
  max-width: 60%;
  display: flex;
}

.right-project-info {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  max-width: 170px;
  display: flex;
  position: sticky;
  top: 20px;
}

.project-metadata-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.project-timeline-text {
  background-image: linear-gradient(270deg, var(--highlight), var(--accent));
  color: var(--accent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.project-info-desctiption-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.project-info-description-text {
  text-align: justify;
}

.button-animation-container {
  border: 1px solid var(--accent);
  border-radius: 50px;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  height: 46px;
  text-decoration: none;
  overflow: clip;
}

.button-animation-text {
  color: var(--accent);
  justify-content: center;
  align-items: center;
  line-height: 100%;
  display: flex;
}

.button-animation-text.button-text-2 {
  color: var(--white);
}

.button-image {
  width: 20px;
}

.button-animation {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 10px 30px;
  display: flex;
}

.portfolio-content-section {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.portfolio-content-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1100px;
  display: flex;
}

.portfolio-content-container.separate-section {
  background-color: #ececec;
  border-radius: 40px;
  width: 100%;
  max-width: none;
  padding: 100px 50px 50px;
}

.portfolio-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 40px;
  display: grid;
}

.portfolio-grid.flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-items: start stretch;
  display: grid;
}

.portfolio-grid.multi-col {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-items: stretch center;
  display: grid;
}

._100vh-scroll-spacer {
  height: 100vh;
}

.spacer-container {
  margin-top: -200vh;
}

.portfolio-content-thumbnail-container {
  background-color: #454440;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 60px 20px;
  display: flex;
}

.portfolio-content-thumbnail-container.learning-suite-thumbnail {
  background-image: linear-gradient(45deg, #adc2d3, #fff);
}

.portfolio-background-video {
  z-index: 0;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 20px;
}

.arrow-svg-path {
  color: var(--accent);
}

.arrow-svg-path-second {
  color: var(--white);
}

.back-to-top {
  width: 50px;
  height: 50px;
}

.arrow-back-to-top {
  z-index: 99;
  color: var(--secondary);
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  inset: auto 5% 5% auto;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.element-hide, .loading-screen-trigger {
  display: none;
}

.about-me-line, .services-line, .portfolio-line {
  background-color: var(--ash-grey);
  width: 100%;
  height: 100%;
}

.bento-image {
  object-fit: cover;
  border-radius: 20px;
  max-width: 100%;
}

.bento-image.bento-border {
  border: 1px solid var(--secondary-s);
  object-fit: cover;
}

.hero-section-container {
  z-index: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project-subscript {
  color: var(--accent);
}

.secondary-button-disabled {
  border: 1px solid var(--accent-s);
  color: var(--accent-s);
  cursor: not-allowed;
  background-color: #3898ec00;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
}

.primary-button-disabled {
  background-color: var(--accent-s);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
}

.portfolio-thumbnail {
  border-radius: 20px;
  max-width: 70%;
}

.bento-2col-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.services-button-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  display: flex;
}

.label-container {
  z-index: 1;
  background-color: var(--primary-m);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.label-text.primary-label {
  color: var(--white);
}

.project-disabled-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.project-mockup-disabled {
  background-color: #ffffff82;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.portfolio-showcase-title-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.portfolio-showcase-right {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.body-2 {
  font-family: Neuemontreal, Arial, sans-serif;
}

.hero-title-animation {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-title-animation-box {
  height: 8vw;
  padding-right: 4px;
  overflow: clip;
}

@media screen and (max-width: 991px) {
  .primary-display {
    font-size: 45px;
  }

  .primary-headline {
    font-size: 28px;
  }

  .primary-title {
    font-size: 16px;
  }

  .primary-body {
    font-size: 14px;
  }

  .primary-label {
    font-size: 12px;
  }

  .secondary---display {
    font-size: 45px;
  }

  .secondary---headline {
    font-size: 28px;
  }

  .secondary-title {
    font-size: 16px;
  }

  .secondary-body {
    font-size: 14px;
  }

  .secondary-label {
    font-size: 12px;
  }

  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
    position: static;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: #0000;
    height: 100vh;
  }

  .nav-menu-three {
    background-color: #fff;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 20px;
    display: flex;
  }

  .nav-menu-block {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 100px;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 70px;
    font-style: italic;
    font-weight: 300;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    z-index: 1;
    padding: 12px;
  }

  .menu-button.w--open {
    z-index: 10;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50px;
  }

  .hero-section {
    justify-content: center;
    align-items: center;
  }

  .hero-title-text {
    font-size: 9vw;
  }

  .hero-title-text.spacing {
    margin-left: 5vw;
  }

  .hero-subtitle-container {
    min-width: 160px;
  }

  .hero-status-container {
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    position: static;
  }

  .scroll-animation {
    top: 60vh;
  }

  .about-me-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-me-section-container {
    grid-auto-flow: row;
  }

  .title-text-container.about-me {
    min-width: 420px;
  }

  .description-text.primary-headline {
    max-width: 300px;
  }

  .description-text.secondary---headline {
    min-width: auto;
    display: inline;
  }

  .about-me-image {
    min-width: 250px;
    height: 400px;
  }

  .line {
    min-width: 10%;
  }

  .services-section {
    margin-bottom: 80px;
    padding-top: 80px;
  }

  .services-section-container {
    grid-template-columns: 1fr;
  }

  .services-title-container {
    position: static;
  }

  .services-card-container {
    margin-top: 0;
  }

  .services-card-title-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .scribles.hero-scribe {
    width: 70px;
  }

  .scribles.services-scribe-1 {
    z-index: -1;
  }

  .scribles.services-scribe-2 {
    z-index: -1;
    bottom: -10%;
    left: auto;
    right: 0;
  }

  .scribles.portfolio-scribe {
    width: 70px;
  }

  .portfolio-section-container {
    padding-top: 80px;
  }

  .portfolio-info-card, .portfolio-info-card:hover {
    border-style: none;
  }

  .portfolio-cards-container {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }

  .portfolio-card {
    width: 95%;
  }

  .portfolio-showcase-container {
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    place-items: start center;
    overflow: hidden;
  }

  .scroll-spacer {
    height: 100vh;
  }

  .nav-underline {
    width: 100%;
    margin-top: 40px;
    margin-left: 5%;
  }

  .hz-track {
    height: 2880px;
  }

  .hz-camera {
    height: auto;
    position: sticky;
    overflow: hidden;
  }

  .loading-screen-percentage.secondary---display {
    font-style: italic;
  }

  .project-header-image {
    flex: none;
    max-width: 100%;
  }

  .left-project-info {
    max-width: 70%;
  }

  .portfolio-content-container {
    width: 100%;
    max-width: none;
  }

  .portfolio-grid.flex, .portfolio-grid.multi-col {
    flex-flow: column;
  }

  .spacer-container {
    margin-top: 0;
  }

  .portfolio-background-video {
    width: 100%;
    height: auto;
  }

  .hero-section-container {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
  }

  .portfolio-showcase-title-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .primary-body {
    line-height: 140%;
  }

  .secondary-body {
    line-height: 120%;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-direction: column;
    margin-top: 50px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-section {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-title-text {
    font-size: 10vw;
  }

  .hero-title-text.spacing {
    margin-left: 3vw;
  }

  .hero-ampersand {
    border-width: 2px;
    font-family: Neuemontreal, Arial, sans-serif;
    font-size: 4.5vw;
  }

  .hero-status-container {
    position: static;
  }

  .about-me-section {
    padding: 60px 20px;
  }

  .about-me-section-container {
    grid-auto-flow: row;
    place-items: stretch center;
  }

  .about-me-side-container {
    justify-content: center;
    align-items: flex-end;
  }

  .description-text.primary-headline {
    max-width: 380px;
  }

  .about-me-image {
    width: 300px;
    height: 350px;
    left: 50%;
  }

  .line {
    display: none;
  }

  .services-section {
    margin-bottom: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .services-section-container {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .service-card {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
  }

  .services-card-title-container, .services-card-description.primary-body {
    width: auto;
  }

  .scribles.about-me-scribe {
    width: 10vw;
    display: none;
  }

  .scribles.services-scribe-1 {
    width: 110px;
    left: 75%;
  }

  .portfolio-section-container {
    padding-top: 60px;
  }

  .portfolio-info-card {
    padding: 24px 32px;
  }

  .portfolio-cards-container {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .project-mockup {
    overflow: hidden;
  }

  .portfolio-showcase-container {
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
  }

  .footer-section-container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    max-height: none;
  }

  .footer-middle-content {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
  }

  .footer-mega-text.secondary---display {
    max-width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ._4-corner-text-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    min-height: auto;
    position: static;
  }

  .footer-side-text-left-small.primary-label, .footer-side-text-right-small.primary-label {
    text-align: center;
  }

  .footer-corner-text-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .hz-camera {
    position: static;
  }

  .project-header-section {
    padding-bottom: 40px;
  }

  .project-header-main-text.primary-display {
    font-size: 70px;
  }

  .project-header-image {
    border-radius: 40px;
    top: -30px;
  }

  .project-info-section {
    padding-bottom: 40px;
  }

  .project-info-container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left-project-info {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    max-width: none;
  }

  .right-project-info {
    max-width: none;
    position: static;
  }

  .portfolio-grid.flex, .portfolio-grid.multi-col {
    grid-template-columns: 1fr;
  }

  .hero-section-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .services-button-container {
    padding-top: 60px;
  }

  .portfolio-showcase-title-container, .portfolio-showcase-right {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    min-height: 33%;
  }
}

@media screen and (max-width: 479px) {
  .primary-display {
    font-size: 36px;
  }

  .primary-headline {
    font-size: 24px;
    line-height: 130%;
  }

  .primary-title {
    font-size: 16px;
    line-height: 140%;
  }

  .primary-body {
    font-size: 14px;
    line-height: 130%;
  }

  .primary-label {
    font-size: 11px;
  }

  .secondary---display {
    font-size: 36px;
  }

  .secondary---headline {
    font-size: 24px;
    line-height: 130%;
  }

  .secondary-title {
    font-size: 14px;
    line-height: 140%;
  }

  .secondary-body {
    font-size: 12px;
    line-height: 130%;
  }

  .secondary-label {
    font-size: 11px;
  }

  .container {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .hero-section {
    justify-content: center;
    align-items: stretch;
    height: 720px;
    margin-top: -280px;
  }

  .hero-title-text {
    font-size: 11vw;
  }

  .hero-title-text.spacing {
    white-space: nowrap;
    margin-left: 5vw;
  }

  .hero-ampersand {
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
  }

  .hero-title-container-top {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hero-title-container {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .hero-subtitle-container {
    min-width: auto;
  }

  .hero-status-container {
    min-width: 300px;
  }

  .scroll-animation {
    top: 50vh;
  }

  .about-me-section {
    padding-top: 32px;
  }

  .about-me-section-container {
    grid-auto-flow: row;
  }

  .title-text-container.about-me {
    min-width: 300px;
  }

  .about-me-image {
    width: auto;
    height: 300px;
  }

  .services-section {
    margin-bottom: 32px;
    padding-top: 32px;
  }

  .services-section-container {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .services-card-container {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    display: flex;
  }

  .service-card {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
  }

  .services-card-title-container {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .scribles.hero-scribe {
    top: 400%;
    right: 0%;
  }

  .scribles.about-me-scribe {
    width: 20vw;
  }

  .scribles.about-me-scribe-2 {
    bottom: 95%;
  }

  .scribles.services-scribe-1 {
    left: 70%;
  }

  .scribles.portfolio-scribe {
    bottom: 200%;
    left: 85%;
  }

  .portfolio-section-container {
    padding-top: 32px;
  }

  .title-label-container {
    min-width: 220px;
  }

  .portfolio-info-card {
    height: 95vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-label-container {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .portfolio-card {
    top: 3vh;
  }

  .portfolio-showcase-container {
    flex-flow: column;
    align-items: stretch;
    display: flex;
  }

  .project-header-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-header-main-text.primary-display {
    font-size: 46px;
  }

  .project-header-image {
    top: -20px;
  }

  .project-info-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-info-title-container {
    min-width: 250px;
  }

  .portfolio-content-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-content-thumbnail-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-section-container {
    max-width: 100%;
    margin-top: 150px;
  }

  .services-button-container {
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 48px;
  }

  .portfolio-showcase-title-container, .portfolio-showcase-right {
    min-height: 25%;
  }
}

#w-node-_4484d467-ad41-77c2-c754-568bb54ec1dd-9fba7736 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_7364cd9d-b0c7-b7fe-a3c9-ef826706353a-9fba7736 {
  grid-area: 2 / 3 / 5 / 6;
}

#w-node-a68eb8c6-c30a-05f9-adc1-5bd923815077-9fba7736 {
  grid-area: 3 / 6 / 6 / 8;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef6859a-8ef68587 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b3edebbc-f99e-1277-03c7-fb22435dba68-8ef68587 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685a9-8ef68587 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d395-8ef68587 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d3a3-8ef68587 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d3a4-8ef68587 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685b1-8ef68587 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b4815322-76b2-1426-71db-28ec66cccb08-8ef68587 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685c0-8ef68587 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685c8-8ef68587 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4e6aa0ce-ac7c-dbb4-f130-d2a9f0dc7927-8ef68587 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685d7-8ef68587 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685df-8ef68587 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685ed-8ef68587 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685ee-8ef68587 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-_917434ef-ee13-0b57-fd28-cd6ee8863942-eb9e9e5b {
  grid-area: span 5 / span 2 / span 5 / span 2;
}

#w-node-_6cc2892a-b918-b15d-5342-cdc02c05e403-eb9e9e5b {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_6cc2892a-b918-b15d-5342-cdc02c05e404-eb9e9e5b, #w-node-_16d43678-292c-459c-a465-b3230721a930-eb9e9e5b {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-e193cd23-6265-3ae6-2d7b-49f536200996-eb9e9e5b {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af88-2b32eaf9 {
  grid-area: span 5 / span 2 / span 5 / span 2;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af89-2b32eaf9 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af8a-2b32eaf9, #w-node-_96513b63-1302-64b4-6577-b3da9a81af8b-2b32eaf9 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af8c-2b32eaf9 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af83-13f3c5e9 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af84-13f3c5e9 {
  grid-area: 1 / 3 / 2 / 6;
}

#w-node-_1ee64e23-0cfb-7160-ba65-c188d25bb54f-13f3c5e9 {
  grid-area: 2 / 1 / 6 / 4;
}

#w-node-e85c3492-e2cd-6047-3cd1-01270fcae7ba-13f3c5e9 {
  grid-area: 2 / 4 / 4 / 6;
}

#w-node-_5a1d7144-5daf-2908-8371-7092199db9c4-13f3c5e9 {
  grid-area: 4 / 4 / 6 / 6;
}

#w-node-_19f96f3f-b055-e8e3-8609-36f8ecee7214-13f3c5e9 {
  grid-area: 6 / 1 / 7 / 6;
}

#w-node-_1aeaf4be-a266-36ff-8d60-2719b303fa04-13f3c5e9 {
  grid-area: 7 / 1 / 8 / 6;
}

#w-node-_55e8e2b6-86b4-fe53-6638-c0cf21887627-13f3c5e9 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_958cd3cb-8e71-4ca9-1c7e-2d11b008c961-13f3c5e9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_832967b2-e8b3-8c89-02b8-7bcaeeb0c903-13f3c5e9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-aebd9245-12ab-422a-fcc3-1adda4687579-13f3c5e9 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_9833d04f-e26c-7393-f5bb-ee1fd5c7c473-13f3c5e9, #w-node-_9833d04f-e26c-7393-f5bb-ee1fd5c7c474-13f3c5e9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_9833d04f-e26c-7393-f5bb-ee1fd5c7c475-13f3c5e9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_51b07620-24c8-eb44-fcca-71bbf8e67318-28458adf {
  grid-area: 1 / 1 / 4 / 3;
}

#w-node-_854a83fc-47f8-d731-4486-bf63892324fe-28458adf {
  grid-area: 1 / 3 / 2 / 5;
}

#w-node-_423af7f1-acb3-1c59-08b0-f0b9de30221d-28458adf {
  grid-area: 2 / 3 / 3 / 5;
}

#w-node-ad9d95ca-36e6-e58a-89ff-2eaaf634134a-28458adf {
  grid-area: 3 / 3 / 4 / 5;
}

#w-node-_96513b63-1302-64b4-6577-b3da9a81af88-28458adf {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c54-5873b725 {
  grid-area: 1 / 1 / 4 / 3;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c55-5873b725 {
  grid-area: 1 / 3 / 3 / 6;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c56-5873b725 {
  grid-area: 3 / 3 / 4 / 6;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c52-5873b725 {
  grid-area: 4 / 1 / 5 / 6;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c58-5873b725 {
  grid-area: 1 / 1 / 7 / 3;
}

#w-node-b844dd20-bbc7-35d7-7ab8-7266f4fefb56-5873b725 {
  grid-area: 1 / 3 / 4 / 6;
}

#w-node-e0f1df7c-7143-463a-4ea0-6334364bcfc4-5873b725 {
  grid-area: 4 / 3 / 7 / 6;
}

#w-node-fb7b0acd-69a1-479d-c552-9675aeea0c5d-5873b725 {
  grid-area: 1 / 1 / 2 / 2;
}

@media screen and (max-width: 991px) {
  #w-node-_4484d467-ad41-77c2-c754-568bb54ec1dd-9fba7736 {
    grid-column-end: 6;
  }

  #w-node-a68eb8c6-c30a-05f9-adc1-5bd923815077-9fba7736 {
    grid-column-start: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4484d467-ad41-77c2-c754-568bb54ec1dd-9fba7736 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7364cd9d-b0c7-b7fe-a3c9-ef826706353a-9fba7736 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-a68eb8c6-c30a-05f9-adc1-5bd923815077-9fba7736 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef6859a-8ef68587 {
    grid-column: span 5 / span 5;
  }

  #w-node-b3edebbc-f99e-1277-03c7-fb22435dba68-8ef68587, #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685a9-8ef68587 {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  #w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d395-8ef68587 {
    grid-column: span 5 / span 5;
  }

  #w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d3a3-8ef68587, #w-node-c146bf78-c0d0-1dc6-44b0-d11130a7d3a4-8ef68587 {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685b1-8ef68587 {
    grid-column: span 5 / span 5;
  }

  #w-node-b4815322-76b2-1426-71db-28ec66cccb08-8ef68587, #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685c0-8ef68587 {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685c8-8ef68587 {
    grid-column: span 5 / span 5;
  }

  #w-node-_4e6aa0ce-ac7c-dbb4-f130-d2a9f0dc7927-8ef68587, #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685d7-8ef68587 {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685df-8ef68587 {
    grid-column: span 5 / span 5;
  }

  #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685ed-8ef68587, #w-node-_9aeb3548-1c6d-850e-3809-df6e8ef685ee-8ef68587 {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  #w-node-_917434ef-ee13-0b57-fd28-cd6ee8863942-eb9e9e5b, #w-node-_96513b63-1302-64b4-6577-b3da9a81af88-2b32eaf9, #w-node-_51b07620-24c8-eb44-fcca-71bbf8e67318-28458adf, #w-node-_854a83fc-47f8-d731-4486-bf63892324fe-28458adf, #w-node-_423af7f1-acb3-1c59-08b0-f0b9de30221d-28458adf, #w-node-ad9d95ca-36e6-e58a-89ff-2eaaf634134a-28458adf, #w-node-_96513b63-1302-64b4-6577-b3da9a81af88-28458adf, #w-node-_0418496b-07cb-3239-74a7-73bd960e69cc-28458adf, #w-node-_0d94725e-9bc1-3afe-c2eb-4e6ca3824f2e-28458adf, #w-node-e552fdc9-270a-a4ec-d97d-cd2546308dc3-28458adf, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c54-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c55-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c56-5873b725, #w-node-b844dd20-bbc7-35d7-7ab8-7266f4fefb56-5873b725, #w-node-e0f1df7c-7143-463a-4ea0-6334364bcfc4-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c5d-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c61-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c62-5873b725, #w-node-fb7b0acd-69a1-479d-c552-9675aeea0c63-5873b725, #w-node-_8652749c-0fc7-a790-6c77-989de48f07ff-5873b725, #w-node-_85b9f147-c810-0805-e1db-78b6bd915d96-5873b725, #w-node-_6a3c0a62-fd81-e4b6-eb96-50d2cca24e82-5873b725, #w-node-_1c3321cc-0eaf-8703-43dd-6f3face29f52-5873b725, #w-node-_18ace979-8391-5634-4ef3-7efeff8c16c6-5873b725 {
    grid-column: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_4484d467-ad41-77c2-c754-568bb54ec1dd-9fba7736 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7364cd9d-b0c7-b7fe-a3c9-ef826706353a-9fba7736 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-a68eb8c6-c30a-05f9-adc1-5bd923815077-9fba7736 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}


@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}