* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent);
}

:root {
  --primary: #00000;
  --secondary: #ffffff;
  --tertiary: #8f8f8f;
  --background: #333646;
  --backgroundLight: #61688a;
  --accent: #ff7a00;

  --light: 300;
  --medium: 500;
  --bold: 700;
}

/* Background */

.background {
  height: 100vh;
}

.background img {
  position: absolute;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: -4;
}

.me {
  z-index: -1 !important;
  transform: translate(0, -5%);
}

.sea {
  transform: translate(0, -4%);
}

/* navbar */
.nav {
  position: absolute;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logo {
  height: 70px;
  width: 70px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 275px;
  font-weight: var(--medium);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* main section */
.mainTitle {
  position: absolute;
  color: var(--background);
}

.mainTitle {
  font-size: 10vw;
  max-width: 300px;
  line-height: 9vw;
  top: 19%;
  left: 15%;
  z-index: -2;
}

.mainTitle::after {
  position: absolute;
  content: "";
  width: 110px;
  height: 20px;
  background-color: var(--accent);
  top: 105%;
  left: 0%;
}

.mainRight {
  position: absolute;
  top: 22%;
  right: 12%;
  color: var(--background);
}

.subTitle {
  font-size: 60px;
}

.description {
  font-size: 18px;
  max-width: 340px;
  line-height: 30px;
}

/* Hero 1 */
.hero_1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--backgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutAndSkillsContainer {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  max-height: 90vh;
  min-height: 50vh;
  flex-wrap: wrap;
}

/* About me */
.aboutMe {
  width: 30vw;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutMeTitle,
.skillsTitle {
  color: var(--secondary);
  font-size: 40px;
  font-weight: var(--bold);
}

.bar {
  position: absolute;
  background-color: var(--accent);
  height: 10px;
  width: 100px;
  margin-top: 50px;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.aboutRight {
  width: 70%;
  padding-left: 20px;
}

.avatar {
  aspect-ratio: 1/1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.aboutMeDescription,
.skillsTag {
  color: var(--secondary);
  line-height: 30px;
}

.fa-github,
.fa-linkedin-in {
  color: var(--background);
  padding: 15px 15px 0 0;
}

/* skills */
.skills {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skillsItem {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}

.skillsIcon {
  width: 150px;
  height: 150px;
  text-align: center;
  color: var(--background);
}

.ps {
  /* aspect-ratio: 1/1; */
  width: 90px;
  height: 90px;
}

.curve {
  width: 100%;
  position: absolute;
  bottom: -0.2%;
}

/* Projects */
.projects {
  height: 100vh;
  background-color: var(--background);
}

@media screen and (max-width: 1366px) {
  /* .aboutAndSkillsContainer {
    display: flex;
    justify-content: space-between;
  } */
}
