* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #00000;
  --secondary: #ffffff;
  --tertiary: #8f8f8f;
  --background: #333646;
  --backgroundLight: #61688a;
  --accent: #ff7a00;

  --light: 300;
  --medium: 500;
  --bold: 700;
}

/* Background */

.background {
  height: 100vh;
}

.background img {
  position: absolute;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: -4;
}

.me {
  z-index: -1 !important;
  transform: translate(0, -5%);
}

.sea {
  transform: translate(0, -4%);
}

/* navbar */
.nav {
  position: absolute;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logo {
  height: 70px;
  width: 70px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 275px;
  font-weight: var(--medium);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* main section */
.mainTitle {
  position: absolute;
  color: var(--background);
}

.mainTitle {
  font-size: 10vw;
  max-width: 300px;
  line-height: 9vw;
  top: 19%;
  left: 15%;
  z-index: -2;
}

.mainTitle::after,
.aboutMeTitle::after,
.skillsTitle::after {
  position: absolute;
  content: "";
  width: 110px;
  height: 20px;
  background-color: var(--accent);
  top: 105%;
  left: 0%;
}
.mainRight {
  position: absolute;
  top: 22%;
  right: 12%;
  color: var(--background);
}

.subTitle {
  font-size: 60px;
}

.description {
  font-size: 18px;
  max-width: 340px;
  line-height: 30px;
}

/* Hero 1 */
.hero_1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--backgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutAndSkillsContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  min-height: 40%;
}

/* About me */
.aboutMe {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutMeTitle,
.skillsTitle {
  color: var(--secondary);
  font-size: 40px;
  font-weight: var(--bold);
}

.aboutMeTitle::after {
  top: 36%;
  left: 15%;
  height: 10px;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.aboutRight {
  width: 70%;
}

.avatar {
  aspect-ratio: 1/1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.aboutMeDescription,
.skillsTag {
  color: var(--secondary);
  line-height: 30px;
}

.fa-github,
.fa-linkedin-in {
  color: var(--background);
  padding: 15px 15px 0 0;
}

/* skills */
.skills {
  background-color: rgb(64, 89, 110);
  width: 30vw;
  max-width: 40vw;
}

/* .skillsTitle {
  max-width: 40vw;
} */

.skillsTitle::after {
  top: 36%;
  left: 54.7%;
  height: 10px;
}

.skillsItem {
  display: flex;
  justify-content: space-between;
}

.skillIcon {
  width: 25%;
}

/* Projects */
.projects {
  height: 100vh;
  background-color: var(--background);
}
