* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--secondary);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent);
}

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --tertiary: #8f8f8f;
  --background: #333646;
  --backgroundLight: #61688a;
  --accent: #ff7a00;

  --light: 100;
  --medium: 300;
  --bold: 700;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* nav start */
.nav {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logo {
  height: 70px;
  width: 70px;
}

.navItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  width: 275px;
  font-weight: var(--bold);
}

.navLinks {
  text-decoration: underline;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary);
}
/* nav end */

/* project section */
.projectContainer {
  display: flex;
  flex-direction: column;
  /* height: 700px; */
  /* justify-content: center; */
}

.individualProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

.projectImageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-color: #42465b;
  position: absolute;
  width: 22vw;
  height: 20vw;
  margin: 1vw 9vw;
  z-index: -1;
}

.projectMockup {
  /* transform: translate(-100px, 0); */
  aspect-ratio: 1258 / 549;
  width: 150%;
  object-fit: cover;
  transition: 1s ease;
}

.projectInfoContainer {
  width: 500px;
  min-height: 800px;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectTitle {
  font-size: 40px;
  font-weight: var(--bold);
}

.projectSubtitle,
.projectDescription {
  font-size: 16px;
  font-weight: var(--light);
}

.projectDescription,
.techDesc {
  font-weight: var(--medium);
  line-height: 25px;
}

.projectDescription > p {
  margin-top: 1em;
}

.learnMoreButton,
.watchLiveButton {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.learnMoreButton {
  background-color: var(--accent);
}

.watchLiveButton {
  background-color: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.projGithub {
  color: var(--backgroundLight);
  padding: 0;
}

.moreInfo {
  width: 100%;
  padding: 5vw 0;
  background-color: var(--backgroundLight);
  display: flex;
  justify-content: center;
}

.infoDescription {
  width: 70vw;
}

.cards {
  object-fit: cover;
  width: 100%;
}

/* ------------------------------------------------- */
.curve {
  width: 100%;
  margin-top: 5vw;
  /* position: absolute; */
}

.hero_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  column-gap: 0;
  background-color: var(--backgroundLight);
}

.hero3Container {
  width: 60vw;
  margin-top: 100px;
}

.hero3Container > * {
  margin: 50px 0;
}

.imageContainer_1 {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
}

.featuresImage {
  object-fit: cover;
}

.card1_1 {
  width: 55%;
}

.card1_2 {
  width: 35%;
}

.card2_1 {
  width: 30%;
}

.card2_2 {
  width: 60%;
}

.card3_1 {
  width: 50%;
}

.rightCardImg {
  width: 45%;
}

.card3_2 {
  width: 100%;
}

.footer {
  height: 30vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 180px;
}

.socialsContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* hovers */
@media (hover: hover) and (pointer: fine) {
  .navLinks:hover {
    color: var(--accent);
    transition: 0.3s ease;
  }

  .projectMockup:hover {
    /* transform: translate(-140px, 0); */
    /* width: 53vw; */
    transform: scale(1.05);
  }

  button:hover {
    /* border: 3px solid white; */
    background-color: var(--secondary);
    color: black;
    transition: 0.5s ease;
  }
}

@media screen and (max-width: 1366px) {
  .individualProjects {
    display: flex;
    flex-wrap: wrap-reverse;
    height: auto;
    justify-content: center;
  }

  .projectInfoContainer {
    width: 100%;
    min-height: 600px;
  }

  .bg {
    display: none;
  }

  .projectMockup {
    width: 200%;
  }

  .hero3Container {
    width: 70vw;
  }

  .imageContainer_1 {
    flex-direction: column;
  }

  .featuresImage {
    width: 60%;
    align-self: center;
    margin-top: 25px;
  }

  .rightCardImg {
    width: 60%;
    align-self: center;
  }

  .card3_2 {
    width: 100% !important;
  }
}

@media screen and (max-width: 834px) {
  .individualProjects {
    width: 90vw;
  }

  .moreInfo {
    height: auto;
  }

  .infoDescription {
    width: 90%;
  }

  .hero3Container {
    width: 90vw;
  }

  .imageContainer_1 {
    max-width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .navContent {
    width: 90%;
  }

  .projectInfoContainer {
    min-height: 900px;
  }

  .projectContainer {
    width: 90%;
  }

  .projectImageContainer {
    width: 100%;
  }

  .projectMockup {
    width: 100%;
  }

  .individualProjects {
    width: 100%;
  }

  .featuresImage,
  .rightCardImg {
    width: 80%;
  }
}
