* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--secondary);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent);
}

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --tertiary: #8f8f8f;
  --background: #333646;
  --backgroundLight: #61688a;
  --accent: #ff7a00;

  --light: 100;
  --medium: 300;
  --bold: 700;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* nav start */
.nav {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logo {
  height: 70px;
  width: 70px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 275px;
  font-weight: var(--bold);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary);
}

.navLinks:hover {
  color: var(--accent);
  transition: 0.3s ease;
}
/* nav end */

/* project section */
.projectContainer {
  display: flex;
  flex-direction: column;
  height: 700px;
  /* justify-content: center; */
}

.individualProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 70vw;
}

.projectImageContainer {
  width: 50%;
}

.bg {
  background-color: #42465b;
  position: absolute;
  width: 22vw;
  height: 20vw;
  margin: 1vw 9vw;
}

.projectMockup {
  transform: translate(-100px, 0);
  aspect-ratio: 1258 / 549;
  width: 50vw;
  left: -50px;
  object-fit: cover;
  transition: 1s ease;
}

.projectMockup:hover {
  /* transform: translate(-140px, 0); */
  width: 53vw;
}

.projectInfoContainer {
  width: 500px;
  height: 100%;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectTitle {
  font-size: 40px;
  font-weight: var(--bold);
}

.projectSubtitle,
.projectDescription {
  font-size: 16px;
  font-weight: var(--light);
}

.projectDescription,
.techDesc {
  font-weight: var(--light);
  line-height: 25px;
}

.learnMoreButton,
.watchLiveButton {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  /* border: 3px solid white; */
  background-color: var(--secondary);
  color: black;
  transition: 0.5s ease;
}

.learnMoreButton {
  background-color: var(--accent);
}

.watchLiveButton {
  background-color: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.projGithub {
  color: var(--backgroundLight);
  padding: 0;
}

.curve {
  width: 100%;
  /* position: absolute; */
}

.hero_2 {
  display: flex;
  flex-direction: column;
  column-gap: 0;
}

.moreInfo {
  height: 30vh;
  width: 100%;
  background-color: var(--backgroundLight);
  display: flex;
  justify-content: center;
}

.infoDescription {
  width: 70vw;
  padding: 20px 0 20px;
}

.cards {
  object-fit: cover;
  width: 100%;
}

.footer {
  height: 30vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 180px;
}

.socialsContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1366px) {
  .individualProjects {
    display: flex;
    flex-wrap: wrap-reverse;
    height: auto;
    justify-content: center;
  }

  .projectInfoContainer {
    width: 100%;
    height: 400px;
  }

  .bg {
    display: none;
  }

  .projectMockup {
    width: 700px;
    transform: translate(-150px, 0);
  }

  .curve {
    margin-top: 55px;
  }
}

@media screen and (max-width: 834px) {
  .projectMockup {
    transform: translate(-210px, 0);
  }

  .projectInfoContainer {
    height: 500px;
  }

  .curve {
    margin-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .navContent {
    width: 90%;
  }

  .navItems {
    justify-content: space-around;
  }

  .projectContainer {
    width: 90%;
    height: 800px;
  }

  .projectImageContainer {
    width: 100%;
  }

  .projectMockup {
    width: 500px;
    transform: translate(-80px, 0);
  }

  .individualProjects {
    width: 100%;
  }

  .projectInfoContainer {
    height: 800px;
  }

  .curve {
    margin-top: 250px;
  }
}
